<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.selfbuy">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".presentation.SFApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logo_ombre"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".presentation.creditCard.activity.ListCreditsCardActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".presentation.order.activity.SelectCreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.order.activity.OrderActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.splashScreen.activity.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.creditCard.activity.CreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.profile.activity.ProfileModifActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.detailProduct.activity.DetailProductActivity"
            android:parentActivityName=".presentation.home.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.home.activity.HomeActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".presentation.BaseActivity" />
    </application>

</manifest>